# ANN CLASSIFICATION

In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [109]:
df=pd.read_csv("Churn_Modelling.csv")

In [110]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [112]:
df=df.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [113]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [114]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo=OneHotEncoder()
geo_encoder=ohe_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [115]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [116]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=ohe_geo.get_feature_names_out(['Geography']))

In [117]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [118]:
df=pd.concat([df.drop('Geography',axis=1),geo_encoder_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [119]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [120]:
X=df.drop(columns='Exited')
y=df['Exited']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [121]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [122]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [123]:
X_train.shape

(8000, 12)

In [124]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

# ANN IMPLIMENTATION

In [125]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [126]:
X_train_scaled = X_train_scaled[:, :11]
X_test_scaled = X_test_scaled[:, :11]

->Define hidden layers

In [127]:
model = Sequential()

model.add(Dense(11,activation='relu',input_dim=11))
model.add(Dense(13,activation='relu'))
model.add(Dense(13,activation='relu'))
model.add(Dense(13,activation='relu'))
model.add(Dense(13,activation='relu'))
model.add(Dense(13,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

/home/ad/anaconda3/lib/python3.13/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [128]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 13)             │           156 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_15 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 13)             │           182 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 1)              │            14 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,030 (4.02 KB)

 Trainable params: 1,030 (4.02 KB)

 Non-trainable params: 0 (0.00 B)

After doing this we have to do comple in which we define

->Loss function
->optimizers

In [129]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [130]:
from tensorflow.keras.callbacks import EarlyStopping
callback = EarlyStopping(
    monitor="val_loss",
    min_delta=0.00001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False
)

In [131]:
model.fit(X_train_scaled,y_train,epochs=10000,validation_split=0.2,callbacks=[callback])

Epoch 1/10000

200/200 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.7936 - loss: 0.5165 - val_accuracy: 0.7975 - val_loss: 0.4603
Epoch 2/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8058 - loss: 0.4305 - val_accuracy: 0.8125 - val_loss: 0.4267
Epoch 3/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8300 - loss: 0.4063 - val_accuracy: 0.8219 - val_loss: 0.4127
Epoch 4/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8397 - loss: 0.3934 - val_accuracy: 0.8319 - val_loss: 0.4004
Epoch 5/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8447 - loss: 0.3793 - val_accuracy: 0.8419 - val_loss: 0.3885
Epoch 6/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8473 - loss: 0.3701 - val_accuracy: 0.8444 - val_loss: 0.3770
Epoch 7/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8553 - loss: 0.3599 - val_accuracy: 0.8438 - val_loss: 0.3802
Epoch 8/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8553 - loss: 0.3526 - val_accuracy: 0.8481 - val_loss: 0.3673
Epoch 9/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8577 - loss: 0.3492 - val_accuracy: 0.8500 - val_loss: 0.3620
Epoch 10/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8616 - loss: 0.3434 - val_accuracy: 0.8469 - val_loss: 0.3652
Epoch 11/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8625 - loss: 0.3410 - val_accuracy: 0.8519 - val_loss: 0.3566
Epoch 12/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8620 - loss: 0.3377 - val_accuracy: 0.8531 - val_loss: 0.3624
Epoch 13/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8667 - loss: 0.3353 - val_accuracy: 0.8531 - val_loss: 0.3569
Epoch 14/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8625 - loss: 0.3351 - val_accuracy: 0.8481 - val_loss: 0.3611
Epoch 15/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8648 - loss: 0.3347 - val_accuracy: 0.8500 - val_loss: 0.3580
Epoch 16/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8644 - loss: 0.3314 - val_accuracy: 0.8544 - val_loss: 0.3558
Epoch 17/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.8656 - loss: 0.3316 - val_accuracy: 0.8537 - val_loss: 0.3542
Epoch 18/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8656 - loss: 0.3297 - val_accuracy: 0.8487 - val_loss: 0.3585
Epoch 19/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8683 - loss: 0.3287 - val_accuracy: 0.8512 - val_loss: 0.3519
Epoch 20/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8680 - loss: 0.3262 - val_accuracy: 0.8519 - val_loss: 0.3549
Epoch 21/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8678 - loss: 0.3258 - val_accuracy: 0.8494 - val_loss: 0.3621
Epoch 22/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8675 - loss: 0.3264 - val_accuracy: 0.8531 - val_loss: 0.3558
Epoch 23/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8648 - loss: 0.3245 - val_accuracy: 0.8462 - val_loss: 0.3605
Epoch 24/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8678 - loss: 0.3260 - val_accuracy: 0.8481 - val_loss: 0.3539
Epoch 25/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8691 - loss: 0.3230 - val_accuracy: 0.8481 - val_loss: 0.3551
Epoch 26/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8692 - loss: 0.3239 - val_accuracy: 0.8544 - val_loss: 0.3540
Epoch 27/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8681 - loss: 0.3219 - val_accuracy: 0.8494 - val_loss: 0.3592
Epoch 28/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8656 - loss: 0.3232 - val_accuracy: 0.8475 - val_loss: 0.3706
Epoch 29/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8691 - loss: 0.3223 - val_accuracy: 0.8519 - val_loss: 0.3539
Epoch 30/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8675 - loss: 0.3210 - val_accuracy: 0.8550 - val_loss: 0.3543
Epoch 31/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8667 - loss: 0.3221 - val_accuracy: 0.8519 - val_loss: 0.3563
Epoch 32/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8669 - loss: 0.3209 - val_accuracy: 0.8487 - val_loss: 0.3598
Epoch 33/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8673 - loss: 0.3200 - val_accuracy: 0.8512 - val_loss: 0.3554
Epoch 34/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8684 - loss: 0.3189 - val_accuracy: 0.8550 - val_loss: 0.3547
Epoch 35/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8689 - loss: 0.3190 - val_accuracy: 0.8525 - val_loss: 0.3561
Epoch 36/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8714 - loss: 0.3169 - val_accuracy: 0.8506 - val_loss: 0.3522
Epoch 37/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8689 - loss: 0.3175 - val_accuracy: 0.8506 - val_loss: 0.3548
Epoch 38/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8714 - loss: 0.3154 - val_accuracy: 0.8531 - val_loss: 0.3554
Epoch 39/10000
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8697 - loss: 0.3163 - val_accuracy: 0.8462 - val_loss: 0.3561
Epoch 39: early stopping

In [132]:
model.layers[0].get_weights()

[array([[ 4.71643299e-01, -2.70712674e-01, -1.70943085e-02,
          8.93420577e-02,  1.73903048e-01, -3.22706372e-01,
         -3.14902425e-01, -1.98632509e-01,  5.66583239e-02,
         -1.90123364e-01, -4.74878773e-02],
        [ 2.24443078e-01, -9.61789489e-02,  1.22907378e-01,
          4.27791476e-01,  5.85990921e-02, -1.96859717e-01,
          5.81205264e-02, -4.14124206e-02, -4.78984453e-02,
          3.51692773e-02,  2.67726451e-01],
        [ 3.72399464e-02,  3.47233176e-01,  3.52190405e-01,
          3.15860361e-01,  2.33220845e-01, -2.73689240e-01,
          2.38347147e-02,  7.33803689e-01,  4.68733728e-01,
         -2.11113155e-01, -3.12493324e-01],
        [ 3.43289375e-01,  2.21192718e-01,  1.68163553e-01,
          1.13642566e-01,  1.20586514e-01, -3.09932768e-01,
         -3.20279717e-01, -1.47510082e-01,  1.31602779e-01,
          2.07366243e-01,  4.11024988e-02],
        [-1.66118249e-01,  2.49701843e-05,  4.48793739e-01,
         -3.12941879e-01,  7.56252483e-02, -3.82698923e-01,
         -5.98198533e-01, -3.51897866e-01, -3.22101265e-02,
         -5.09265900e-01, -1.76838309e-01],
        [ 1.54894158e-01, -1.92568675e-01,  7.80349493e-01,
         -9.57816020e-02, -1.09732568e+00,  8.88047099e-01,
         -6.44213438e-01, -6.48954570e-01,  6.38323963e-01,
          2.44342059e-01, -2.75641412e-01],
        [ 4.24862146e-01,  3.17199469e-01, -1.61527693e-01,
          8.59971270e-02, -1.85052678e-01,  1.25764579e-01,
          1.14152566e-01, -8.37293118e-02,  1.95993111e-01,
         -2.21206859e-01, -1.21521935e-01],
        [-4.50616121e-01,  4.52916026e-01,  7.87923709e-02,
          6.44276679e-01, -1.74555451e-01, -4.67432290e-01,
         -1.04707636e-01, -9.58501995e-02,  7.43687153e-02,
          1.69471040e-01, -1.62444413e-01],
        [ 7.01699182e-02, -1.02128632e-01,  3.36719751e-02,
          1.50781959e-01, -2.89784782e-02, -3.71206969e-01,
          3.38079333e-01, -6.04405627e-02,  1.05424412e-03,
         -1.56047165e-01, -2.49583930e-01],
        [ 2.20093235e-01, -1.04929069e-02,  1.81646403e-02,
         -1.11481979e-01, -4.39334214e-01, -6.27426058e-02,
          2.20162421e-01,  1.95767090e-01, -2.76222173e-02,
         -3.66500527e-01,  2.54996568e-01],
        [ 2.88057238e-01,  1.75672397e-01, -6.61613187e-03,
         -3.89857858e-01, -2.84431100e-01,  1.26191229e-01,
          6.57533556e-02,  3.68818119e-02, -9.11203772e-03,
          5.21061420e-01, -4.71278131e-01]], dtype=float32),
 array([ 0.27573463,  0.01695674, -0.11814985,  0.15187272,  0.10024687,
         0.08881474, -0.02670732, -0.09544846, -0.30181056,  0.17530231,
         0.22504693], dtype=float32)]

In [133]:
model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

array([[0.01390687],
       [0.07337724],
       [0.05891917],
       ...,
       [0.00714569],
       [0.03445327],
       [0.6491747 ]], dtype=float32)

->Now we set up the prediction as :

->yes:1
->No:0

In [134]:
y_log = model.predict(X_test_scaled)
y_pred = (y_log > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [135]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.858